node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Data files
*.xlsx
*.xls
*.csv
*.gpkg
*.pyc
__pycache__/

# Python
*.py
requirements.txt

# Backups
*_backup/
backup/

# Large assets
figures_labels/
figures/
afweegkader/
